#!/bin/bash

BACKUP_DIR="{{ db_backup_dir }}"
DATE=$(date +%F)

{% for site in sites %}
CONTAINER="{{ site.name }}_db"
DB_NAME="{{ secret.wp_db_name }}"
DB_USER="{{ secret.wp_db_user }}"
DB_PASS="{{ secret.wp_db_password }}"

docker exec ${CONTAINER} \
  mariadb-dump -u${DB_USER} -p${DB_PASS} ${DB_NAME} \
  | gzip > ${BACKUP_DIR}/{{ site.name }}_${DATE}.sql.gz

{% endfor %}

# rotation
find ${BACKUP_DIR} -type f -mtime +{{ db_backup_retention_days }} -delete
