[DEFAULT]
bantime  = {{ hardening_wp_bantime | default(3600) }}
findtime = {{ hardening_wp_findtime | default(600) }}
maxretry = {{ hardening_wp_maxretry | default(5) }}

# Good default on Debian: auto-detects backend (systemd, polling, etc.)
# If you want to force:
# backend = auto

[wordpress-auth]
enabled  = true
port     = http,https
filter   = wordpress-auth
logpath  = /var/log/caddy/*.access.log
