{
    log {
        output file {{ caddy_log_path }}
        format json
    }
}

{{ domain }} {

    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    {% if hardening_block_xmlrpc %}
    @xmlrpc path /xmlrpc.php
    respond @xmlrpc 403
    {% endif %}

    {% if hardening_block_sensitive_files %}
    @forbidden {
        path *.env *.git* *.bak
    }
    respond @forbidden 403
    {% endif %}

    reverse_proxy wordpress:80
}
