- name: Ensure backup directory exists
  ansible.builtin.file:
    path: "{{ db_backup_dir }}"
    state: directory
    mode: "0700"

- name: Deploy DB backup script
  ansible.builtin.template:
    src: backup.sh.j2
    dest: "{{ db_backup_dir }}/backup.sh"
    mode: "0700"

- name: Install cron job
  ansible.builtin.cron:
    name: "WordPress DB backup"
    minute: "{{ db_backup_time_minute }}"
    hour: "{{ db_backup_time_hour }}"
    job: "{{ db_backup_dir }}/backup.sh"
