services:
  db:
    image: mariadb:11
    container_name: "{{ site.name }}_db"
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: {{ secret.wp_db_name }}
      MARIADB_USER: {{ secret.wp_db_user }}
      MARIADB_PASSWORD: {{ secret.wp_db_password }}
      MARIADB_ROOT_PASSWORD: {{ secret.wp_db_root_password }}
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress:6-php8.3-apache
    container_name: "{{ site.name }}_wp"
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: {{ secret.wp_db_name }}
      WORDPRESS_DB_USER: {{ secret.wp_db_user }}
      WORDPRESS_DB_PASSWORD: {{ secret.wp_db_password }}
    ports:
      - "{{ bind_ip }}:{{ site.backend_port }}:80"
    volumes:
      - wp_data:/var/www/html
      - {{ site_dir }}/php/custom.ini:/usr/local/etc/php/conf.d/zz-custom.ini:ro
    depends_on:
      - db

volumes:
  db_data: {}
  wp_data: {}
